body{
    line-height: 1.5;
}
.site-container{
    margin: 60px;
    max-width: calc(100% - 80px);
}
.indexsite-container{
    margin-top: 60px;
}
.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 4rem;
}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.article-card{
    background: #242124;
    border-radius: 20px;
    transition: 0.3s;
    border: solid 0.5px #5f8a8b;
}
.article-card:hover{
    box-shadow: 0 4px 15px 0 #5f8a8b;
    cursor: pointer;
}
.article-content{
    padding: 2rem;
}
.article-content .card-category {
    color: #FFFEFA;
    display: block;
    text-decoration: none;
}
.article-content .card-title {
    color: #FFFEFA;
    font-size: 1.3vmax;
    text-align: left;
}
.article-content .card-excerpt {
    line-height: 1.5rem;
    color:#FFFEFA;
    margin: 0;
    font-size: 1.2vmax;
}
.card-category {
    color: #FFFEFA;
}